
body {
    background-color: black;
    margin: 0 auto;
}

/* ///////////////////////////////////////// LOADER must be first  */

#loaderBackground {
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
}

#logo {
    position: fixed;
    text-align: center;
    top: 10%;
    left: 45%;
    width: 10%;
    color: white;
    z-index: 99;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid white;
    border-right: 16px solid red;
    border-bottom: 16px solid white;
    border-left: 16px solid red;
    position: fixed;
    left: 47.5%;
    top: 47.5%;
    width: 5%;
    height: 5%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* /////////////////////////////////////////////////////////////////////////////////   */

#help {
    position: absolute;
    top: 1%;
    left: 1%;
    color: rgb(226, 40, 40);
    cursor: help;
}

#help:hover {
    color: royalblue;
}

#HiddenHelpLayer {
visibility: hidden;
}

#HelpIMG {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0;
}

#HelpIMGButton {
    position: fixed;
    z-index: 21;
    top: 95%;
    left: 47%;
    width: 6%;
}

#BaronGIF {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0%;
    visibility: hidden;
}

#WIN {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0%;
    visibility: hidden;
}

#ClickerButton {
    padding: 2%;
    background-color: black;
    color: brown;
    border-radius: 50px;

}

#prvnicast {
    background: url("summonersrift1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#druhacast {
    background: url("summonersrift.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#BaronPlace {
    background-color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
}


#CountingBlock {
    text-align: center;
    position: sticky;
    top: 0%;
    background-color: white;
    width: 20%;
    left: 40%;
    border-radius: 0 0 40% 40%;
    opacity: 80%;
    border: solid ;
    z-index: 5;
}

#stealth {
    visibility: hidden;
}

#ErrorMessage {
    width: 50%;
    position: fixed;
    top: 30%;
    height: 40%;
    left: 25%;
    visibility: hidden;
    z-index: 200;
}

#ErrorMessage1 {
    width: 50%;
    position: fixed;
    top: 30%;
    height: 40%;
    left: 25%;
    visibility: hidden;
    z-index: 200;
}

#ErrorMessage2 {
    width: 50%;
    position: fixed;
    top: 30%;
    height: 40%;
    left: 25%;
    visibility: hidden;
    z-index: 200;
}

#container {
    margin: 0 2% 0 2%;
}

#SAM, #SAM_2, #SAM_3, #RICK, #RICK_2, #RICK_3, #MAX, #MAX_2, #MAX_3 {

    height: 125px;
    width: auto;
}

h1 {
    text-align: center;
}

#GEM {
    position: absolute;
    height: 10%;
    width: auto;
    top: 8%;
    left: 37.5%;
}

#GEM2 {
    height: 20%;
    width: 20%;
    left: 40%;
    position: absolute;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    margin-left: 3%;
}

button {
    border-radius: 10px;
    background-color: lightblue;
    color: black;
}

#SamUpgrade2 {
    visibility: hidden;
}

#SamUpgrade3 {
    visibility: hidden;
}

#FioraUpgrade2 {
    visibility: hidden;
}

#FioraUpgrade3 {
    visibility: hidden;
}

#DariusUpgrade2 {
    visibility: hidden;
}

#DariusUpgrade3 {
    visibility: hidden;
}

#UpgradeButtonSam1 {
    visibility: visible;
}

#UpgradeButtonFiora1 {
    visibility: visible;
}

#UpgradeButtonDarius1 {
    visibility: visible;
}


#DRAGON {
    width: 100%;
 
}

#DragonFight {
    text-align: center;
    color: lightcoral;
}

#damage {
    color: mediumblue;
}

.riotpoint {
    height: 4%;
    width: 4%;
}

#champ {
    background-color: blanchedalmond;
    margin: auto;
}

.championframe {
    border: solid 5px;
    padding: 0 0 2% 0;
    background-color: whitesmoke;
    opacity: 85%;
    margin: 2%;
    text-align: center;
    border-radius: 10%;
}

/* ////////////////////////////////////////////////////////////////////////Items , SHOP /////////////////////////////////////////////////////////////////*/

#Items {
    position: absolute;
    top: 20%;
    left: 0;
    height: 50%;
    width: 2.5%;
    background-color: black;
    border: darkred solid 5px;
    border-radius: 0 10px 10px 0;
}

#Smite {
    margin: 1%;
    height: 19%;
    width: 100%;
    background-color: black;
}

#Smite:hover {
    background-color: darkred;
}

#Locked {
    margin: 1%;
    height: 19%;
    width: 100%;
    background-color: black;
}

#Locked:hover {
    background-color: darkred;
}
#ItemsShopSmite {
    position: fixed;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
    text-align: center;
    color: white;
    visibility: hidden;
    border: darkred solid 10px;
    border-radius: 20px;
}

/* //////////////////////////////////////////////////////////////////Items , SHOP /////////////////////////////////////////*/